@charset "utf-8";
/* CSS Document */
.main{width:1140px;margin:0 auto;text-align:center;height:797px;}
.main h3{height:50px;line-height:50px;font-size:30px;padding-top:80px;}
.main ul{height:65px;display:inline-block;*display:inline;*zoom:1;}
.main li{height:65px;line-height:65px;font-size:15px;float:left;padding:0 16px;}
.main a{color:#222423;}
.main .m_dian{color:#e7298d;}
.main a:hover{color:#e7298d;}
.m_pic_nei{width:285px;height:182px;position:relative;float:left;}
.m_pic_nei img{width:100%;}
.main_pic .m_pic_nei a{width:100%;height:100%;background:rgba(0,0,0,0.5);display:block;line-height:182px;text-align:center;color:#fff;font-size:30px;position:absolute;left:0;top:0;display:none;}
.m_pic_nei:hover a{display:block;}